<section class="calories-calculator">
    <section class="row w">
        <div class="col-60 text-center">
            <h2 class="page-heading">Calorie Calculator</h2>
            <img class="w-100" src="{{ 'pexels-trang-doan-793785@2x.png' | asset_url }}" alt="pexels-trang">
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-60">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non mattis maximus, diam velit posuere massa, ut posuere velit neque a nulla.</p>
            </div>
            <div class="col-60 text-center">
                <div class="calorie-calculator">
                    <input class="input-age" type="text" placeholder="Age">
                    <div>
                    <input type="radio" name="Male" value="Male"> Male
                    <input type="radio" name="Female" value="Female"> Female
                    </div>
                    <div>
                    <input class="input-height" type="text" placeholder="Height">
                </div>
                <div>
                    <input class="input-weight" type="text" placeholder="Weight">
                </div>
                <div>
                    <input class="input-activity-list" type="text" placeholder="Activity list">
                </div>
                </div>
            </div>
        </div>
    </section>
</section>
<style>
.calories-calculator{
    background-color: #F9F7F6;
}
.calorie-calculator{
    background: transparent url('img/Soph_L_0138.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 18px 50px #A5756A36;
    border-radius: 8px;
    opacity: 1;
}
.calorie-calculator input{
    background: #F8F6F5 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    opacity: 0.61;
}
</style>