<section class="testimonials">
<div class="container">
    <div class="row no-gutters">
        <div class="col-60 text-center">
            <h2 class="page-heading">testimonials</h2>
        </div>
        <div class="col-60 col-md-20">
            <img src="{{ 'baily-throne.png' | asset_url }}" alt="baily-throne">
            <div class="testimonials-text-container">      
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non mattis maximus, diam velit posuere massa, ut posuere velit neque a nulla.</p>
                    <div class="testimonials-links">
                        <div class="link-1">
                        <a href="#">Grace Garey</a>
                    </div>
                <div class="link-2 border-left">
                    <a href="#">Cofounder</a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-60 col-md-20">
            <img src="{{ 'baily-throne.png' | asset_url }}" alt="baily-throne">
            <div class="testimonials-text-container">      
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non mattis maximus, diam velit posuere massa, ut posuere velit neque a nulla.</p>
                    <div class="testimonials-links">
                        <div class="link-1">
                        <a href="#">Grace Garey</a>
                    </div>
                <div class="link-2 border-left">
                    <a href="#">Cofounder</a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-60 col-md-20">
            <img src="{{ 'baily-throne.png' | asset_url }}" alt="baily-throne">
            <div class="testimonials-text-container">      
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non mattis maximus, diam velit posuere massa, ut posuere velit neque a nulla.</p>
                    <div class="testimonials-links">
                        <div class="link-1">
                        <a href="#">Grace Garey</a>
                    </div>
                <div class="link-2 border-left">
                    <a href="#">Cofounder</a>
                </div>
            </div>
            </div>
        </div>
        <div class="col-60 col-md-20">
            <img src="{{ 'baily-throne.png' | asset_url }}" alt="baily-throne">
                    <div class="testimonials-text-container">      
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, diam non mattis maximus, diam velit posuere massa, ut posuere velit neque a nulla.</p>
                        <div class="testimonials-links">
                            <div class="link-1">
                            <a href="#">Grace Garey</a>
                        </div>
                    <div class="link-2 border-left">
                        <a href="#">Cofounder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<style>
    .testimonials{
        background-color: #F9F7F6;
    }
    .testimonials-links{
        display: flex;
        justify-content: center;
    }
    .link-1{
        padding-right: 10px;
    }
    .link-2{
        padding-left: 10px;
    }
</style>